<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body background="Fondo.png">
	<div class="header">
		<h1>Dragon Ball</h1>
		<p>Anime Dragon Ball</p>
	</div>
	<div class="menu" align="">

		<a href="index.html">Dragon Ball</a>
        <a href="layout2.html">Naruto</a>
		<a href="layout3.html">Noragami</a>
		<a href="layout4.html">Demonyac Prodigy</a>

	</div>
	<div class="contenido">
	 <div class="izquierda">
	 	<div class="item">
	 		<h2>Dragon Ball</h2>
	 		<h5>Akira Toriyama</h5>
	 		<img src="Dragon.jpg" alt="" class="imagen">
	 		

	 	  </div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Informacion</h2>
				<img style="float:left; margin:3px;" src="descarga.jpg" alt="100" width="150px"/> Dragon Ball es un manga escrito e ilustrado por Akira Toriyama. Fue publicado originalmente en la revista Shōnen Jump, de la editorial japonesa Shūeisha, entre 1984 y 1995.​​
			</div>
			
		</div>
	 </div>
	 <div class="footer">
	 	<h2>&copy; 2019</h2>
	 </div>

</body>

</html>