<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body background="Fondo.png">
	<div class="header">
		<h1>The Demonyac Prodigy</h1>
		<p>Novela The Demonyac Prodigy</p>
	</div>
	<div class="menu" align="">

		<a href="index.html">Dragon Ball</a>
        <a href="layout2.html">Naruto</a>
		<a href="layout3.html">Noragami</a>
		<a href="layout4.html">Demonyac Prodigy</a>

	</div>
	<div class="contenido">
	 <div class="izquierda">
	 	<div class="item">
	 		<h2>Demonyac Prodigy</h2>
	 		<h5>Kevin Gomez</h5>
	 		<img src="katsumi.jpg" alt="" class="imagen">
	 		

	 	  </div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Informacion</h2>
				<img style="float:left; margin:3px;" src="katsumi.jpg" alt="100" width="150px"/> Después de una terrible guerra, el mundo quedo devastado, años pasaron para ver la gloria de la antigua guerra. Nos ubicamos en el año 2040, estamos en los zapatos de Katsumi Mako, un chico normal y alegre que vive con su madre y hermano, sin embargo sin previo aviso se trasladara a japón, sumando la aparición de una misteriosa y bella chica en sus sueños~
			</div>
			
		</div>
	 </div>
	 <div class="footer">
	 	<h2>&copy; 2019</h2>
	 </div>

</body>

</html>