<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body background="Fondo.png">
	<div class="header">
		<h1>Naruto</h1>
		<p>Anime Naruto</p>
	</div>
	<div class="menu" align="">

		<a href="index.html">Dragon Ball</a>
        <a href="layout2.html">Naruto</a>
		<a href="layout3.html">Noragami</a>
		<a href="layout4.html">Demonyac Prodigy</a>

	</div>
	<div class="contenido">
	 <div class="izquierda">
	 	<div class="item">
	 		<h2>Naruto</h2>
	 		<h5>Masashi Kishimoto</h5>
	 		<img src="naruto.jpg" alt="" class="imagen">
	 		

	 	  </div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Informacion</h2>
				<img style="float:left; margin:3px;" src="naruto2.jpg" alt="100" width="150px"/>La obra narra la historia de un ninja adolescente llamado Naruto Uzumaki, quien aspira a convertirse en Hokage, líder de su aldea, con el propósito de ser reconocido como alguien importante dentro de la aldea y entre sus compañeros..​​
			</div>
			
		</div>
	 </div>
	 <div class="footer">
	 	<h2>&copy; 2019</h2>
	 </div>

</body>

</html>