<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body background="Fondo.png">
	<div class="header">
		<h1>Noragami</h1>
		<p>Anime Noragami</p>
	</div>
	<div class="menu" align="">

		<a href="index.html">Dragon Ball</a>
        <a href="layout2.html">Naruto</a>
		<a href="layout3.html">Noragami</a>
		<a href="layout4.html">Demonyac Prodigy</a>

	</div>
	<div class="contenido">
	 <div class="izquierda">
	 	<div class="item">
	 		<h2>Noragami</h2>
	 		<h5>Adachitoka</h5>
	 		<img src="noragami.jpg" alt="" class="imagen">
	 		

	 	  </div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Informacion</h2>
				<img style="float:left; margin:3px;" src="noragami2.jpg" alt="100" width="150px"/>Noragami es una serie de manga escrita e ilustrada por Adachitoka. Comenzó su publicación en la revista Monthly Shōnen Magazine de la editorial Kōdansha en 2011.​​
			</div>
			
		</div>
	 </div>
	 <div class="footer">
	 	<h2>&copy; 2019</h2>
	 </div>

</body>

</html>